@import url('https://fonts.googleapis.com/css2?family=Alata&family=Muli:wght@300;500;700&display=swap');

/* ebd234 */

body
{
	background:#292723;
	margin:0;
	overflow-y:scroll;
	font-family: 'Muli', Verdana, sans-serif;
	font-size:21px;
	color:#050505;
}
	body.no-scroll
	{
		overflow-y:hidden;
	}
	body *
	{
		box-sizing: border-box;
	}
	@media (min-width:1441px){body{font-size:24px;}}


.outer
{
	position:relative;
	max-width:1280px;
	padding:0 20px;
	margin:0 auto;

}
.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}

/* layout */
.split-container
{
	margin:0 auto;
	text-align:center;
}
.rtl
{
	direction: rtl;
}
.split
{
	position:relative;
	margin:0 auto;
	direction: ltr;
	vertical-align: middle;
	white-space: normal;
	text-align:left;
}
@media (min-width:961px)
{
	.split
	{
		display:inline-block;
	}
		.split-container
		{
			white-space: nowrap;
		}
			.split-50
			{
				width:50%;
			}
}



h1
{
	font-family: 'Alata', Verdana, sans-serif;
	font-weight:400;
}
p, h2, button
{
	font-family: 'Muli', Verdana, sans-serif;
	font-weight:300;
}
.triangle-right, .triangle-up
{
	display:inline-block;
	vertical-align: middle;
	margin-left:.325em;
	top:-.125em;
	position: relative;
	font-size:.5em;
	opacity:.325;
}
	.triangle-right::after {
	  content: "\25B6 \FE0E";
	}
	.triangle-up::after {
	  content: "\25B2 \FE0E";
	}


header
{
	background-image:url('../img/header-bg.jpg');
	background-size:cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
	@media (min-width:961px)
	{
		header
		{
			background-size:100% auto;
		}
	}




/* top nav */
#top-nav
{
	padding:55px 0 50px;
	text-align: center;
}
	#top-nav .ta-name
	{
		display:inline-block;
		/*
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('../img/ta-name.png');*/
	}
		#top-nav .ta-name:hover
		{
			/*background-image: url('../img/ta-name-2.png');*/
			opacity:.8;
		}
		@media (min-width:961px)
		{
			#top-nav .ta-name
			{
				display:block;
				float:left;
			}
		}

	#top-nav .ta-name img
	{
		display:block;
		max-width:360px;
		width:100%;
		/*visibility: hidden;*/
	}
	#top-nav nav
	{
		margin:10px 0 0;
		line-height:35px;
	}
		@media (min-width:961px)
		{
			#top-nav nav
			{
				margin:0;
				float:right;
			}
		}
		#top-nav nav .nav-split
		{
			display:inline-block;
			margin:0 20px;
			height:1.25em;
			width:1px;
			background:#fff;
			opacity:.75;
			vertical-align: middle;
		}
		#top-nav nav a
		{
			color:#fff;
			font-size:1em;
			font-weight:300;
			text-decoration: none;
			vertical-align: middle;
			letter-spacing: 1px;
			padding:.25em 0;
		}
			#top-nav nav a:hover
			{
				border-bottom:2px solid #fff;
			}





/* Intro */
.intro
{
	position:relative;
	color:#fff;
	z-index:100;
}
	.intro .info
	{
		padding:1em 0;
	}
		@media (min-width:961px)
		{
			.intro .info
			{
				padding:1em 1.5em;
			}
		}
		.intro .info h1
		{
			font-size:2em;
			margin:0 0 .5em;
			padding:0;
		}
		.intro .info h2
		{
			font-size:.75em;
			margin:.5em 0 .25em;
			padding:0;
		}
		@media (min-width:961px)
		{
			.intro .info h2
			{
				margin:0;
			}
		}
		.intro .info p
		{
			font-size:.875em;
			padding:0;
			line-height: 1.5em;
		}
			.intro .info p a
			{
				font-weight:700;
				text-decoration: none;
				color:#fff;
				display:inline-block;
			}
				.intro .info p a:hover
				{
					text-decoration: underline;
				}
		.intro .img-wrap img
		{
			display:block;
			max-width:100%;
			margin:0 auto;
		}

/* Specific Pages */
@media (max-width:960px)
{
	#home-intro .img-wrap
	{
		max-width:480px;
	}
	#home-intro .info
	{
		max-width:640px;
		text-align: center;
	}
}




#podcast-intro
{
	max-width: 1180px;
	margin:0 auto;
	padding:0 0 40px;
}
	@media (max-width:960px)
	{
		#podcast-intro .img-wrap
		{
			max-width:480px;
		}
		#podcast-intro .info
		{
			max-width:640px;
			text-align: center;
		}
	}
	@media (min-width:961px)
	{
		#podcast-intro
		{
			padding:20px 0 40px;
		}
		#podcast-intro .split-container .split:nth-child(1)
		{
			width:33.33%;
		}
		#podcast-intro .split-container .split:nth-child(2)
		{
			width:66.66%;
		}
	}



main
{
	background:#fcf9eb;

}
	#page-home main
	{
		padding:0 0 80px;
	}
	@media(min-width:961px)
	{
		#page-home main
		{
			transform:translateY(-50px);
			margin:0 auto -50px;

		}
	}


/* about-container */
.about-container
{
	padding:50px 0;
}
@media(min-width:541px)
{
	.about-container
	{
		padding:50px 3.5%;
	}
}
@media(min-width:961px)
{
	.about-container
	{
		padding:200px 5% 150px;
	}
}
	.about-container .about
	{
		max-width:1080px;
		margin:0 auto;
	}
		.about-container h1
		{
			display:block;

			font-size:2em;
			line-height: 1.25em;
			text-align: left;

			margin:0;
			padding:0;
		}
		.about-container p
		{
			font-size:.875em;
			line-height: 2em;
			text-align: left;
		}
		.about-container p a
		{
			color:#050505;
			font-weight:700;
			text-decoration: none;
			display:inline-block;
		}
			.about-container p a:hover
			{
				text-decoration: underline;
			}
		.about-container h1 .bullet
		{
			position: relative;
			top:-.25em;
			font-size:.5em;

		}



/* work-container */

.work-container
{
	color:#121211;
	text-align: center;
}
.recent.work-container
{
}
	.work-container .outer .inner
	{
		background:#fff;
		padding:0 30px;
	}
	@media (min-width:961px)
	{
		.work-container .outer .inner
		{
			padding:0 60px;
		}
	}

	.work-container .category-title
	{
		font-family: 'Alata', Verdana, sans-serif;
		font-size:1.75em;
		font-weight:400;
		margin:0 0 1em;
	}
	.work-container ul.bread-crumbs
	{
		padding:40px 0 30px;
		margin:0;

		font-size: .75em;
		list-style: none;
		line-height: 1em;
		text-align: left;
	}
		.work-container ul.bread-crumbs li
		{
			display: inline-block;
			vertical-align: middle;
		}
			.work-container ul.bread-crumbs li a
			{
				text-decoration: none;
				color:#da7942;
			}
				.work-container ul.bread-crumbs li a:hover
				{
					text-decoration: underline;
				}
			.work-container ul.bread-crumbs li .triangle-right
			{
				margin:0 8px;
			}

	.work-info
	{
		max-width:1080px;
		margin:0 auto;
		text-align: left;
		padding:2.5em 0;
		border-top:1px solid #53524b;
	}
		.work-info.last
		{
			border-bottom:1px solid #53524b;
		}
		.work-info:nth-child(1)
		{
			border-top:none;
		}

		.work-info .media-container
		{
			margin:1.25em auto 1em;
		}
		.work-info h1
		{
			font-size:1.25em;
			margin:0;
		}
		.work-info h2
		{
			font-size:.625em;
			margin:.75em 0 0;
		}
		.work-info p
		{
			font-size:.85em;
		}
		.work-info p.date
		{
			font-size:.625em;
			margin-bottom:1.5em;
			letter-spacing: 1px;
		}
		.work-info a.article-link
		{
			display:inline-block;

			border:2px solid #53524b;
			border-radius:5px;
			margin:.5em 0;
			padding:12px 16px;

			color:#121211;
			text-decoration: none;
			font-weight: 700;
			font-size:.875em;
		}
			.work-info a.article-link:hover
			{
				color:#fff;
				border-color: #da7942;
				background:#da7942;
			}









/* Work */
#work-header
{
	background-attachment:scroll;
	padding-bottom:60px;
}
	#page-work .work-container .outer
	{
		transform: translateY(-50px);
		margin:0 auto -50px;
	}
		@media (min-width:961px)
		{
			#work-header
			{
				background-attachment:scroll;
				padding-bottom:100px;
			}
				#page-work .work-container .outer
				{
					transform: translateY(-80px);
					margin:0 auto -80px;
				}
		}
	#work-header h1
	{
		padding:0 0 .25em;
		margin:0;

		color:#fff;
		font-size:4em;
		text-align: center;
		line-height: 1em;
	}

	.category-production
	{
		max-width:1280px;
		margin:0 auto;
		padding:80px 0 0;
	}

		.production-list
		{
			max-width:1280px;
			margin:0 auto;
			padding:0;

			text-align: center;
		}

			.production-list li
			{
				display:block;

				width:100%;
				margin:0 0 20px;
			}
			@media (min-width:541px) and (max-width:960px)
			{
				.production-list li
				{
					display:inline-block;

					width:calc(50% - 20px);
					margin:0 20px 20px 0;
				}

				.production-list li:nth-child(2n+2)
				{
					margin:0 0 20px;
				}
			}
			@media (min-width:961px)
			{
				.production-list li
				{
					display:inline-block;

					width:calc(33.33% - 20px);
					margin:0 20px 20px 0;
				}
				.production-list li:nth-child(3n+3)
				{
					margin:0 0 20px;
				}
			}
				.production-list li a
				{
					display:block;
					position: relative;

					width:100%;

					text-decoration: none;
				}
					.title-wrap
					{
						position:absolute;
						width: 100%;
						padding:0 0 100%;

						background:#da7942;
						opacity:0;
						top:50%;
						transform: translateY(-50%);
						z-index: 50;
					}
					.title-wrap:hover
					{
						animation-name: title-hover;
						animation-duration: .35s;
						animation-fill-mode: forwards;
						animation-timing-function: ease-out;
					}
					@keyframes title-hover
					{
						from {opacity:0;}
						to {opacity: 1;}
					}
						.title-wrap .title
						{
							position:absolute;

							width:calc(100% - 20px);
							top:50%;
							left:50%;
							transform: translate(-50%, -50%);

							color:#fff;
							font-family: 'Alata', Verdana, sans-serif;
							font-size:1.5em;
							text-align: center;
						}
					.production-list li a img
					{
						display:block;
						width:100%;
					}

	.category-writing
	{
		max-width:1080px;
		margin:0 auto;

		padding:80px 0 60px;
	}




.scroll-top, .more-work
{
	display:inline-block;

	margin:50px auto 55px;
	padding:.5em 1.5em;
	border:2px solid #121211;
	border-radius:5px;

	color:#292723;
	font-size:.875em;
	font-weight:700;
	text-decoration: none;
	background:none;
	cursor: pointer;
}
	.scroll-top:hover, .more-work:hover
	{
		border-color: #da7942;
		background:#da7942;

		color:#fff;

	}


/* Footer */
footer
{
	background:#292723;
	padding:3em 0 2em;

	text-align: center;
}
	footer nav a
	{
		display:inline-block;
		margin:0 .5em;
		text-decoration: none;
	}
		footer nav a:hover
		{
			opacity:.75;
		}
			footer nav a img
			{
				display:block;
				width:1.5em;
			}
	footer h2
	{
		margin-top:2em;
		color:#fff;
		text-align: center;
		font-size:.75em;
	}
		footer h2 a
		{
			font-size:.75em;
			color:#da7942;
			text-decoration: none;
		}
			footer h2 a:hover
			{
				color:#fff;
			}
